@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Jem's Truely OutRagious Store</h1>
    <p class="lead">{{"It's truly," + "truly outragiously" + " low PRICES!"}}</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12" ng-repeat="good in store.goods | orderBy:'-price'">
        <h1>{{good.name}}</h1>
        <h2>{{good.price | currency}}</h2>
        <img ng-src="{{good.images[0].full}}"/>
        <p> {{good.description}}</p>
        <button ng-hide="good.soldOut">Add to cart</button>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
     <ul class="list-group">
      <li class="list-group-item" ng-repeat="good in store.goods | orderBy:'price'">
       <h3>{{good.name}} <em class="pull-right">{{good.price | currency }}</em></h3>
       <img ng-src="{{good.images[0].full}}" />
          <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in good.images">
                  <img ng-src="{{image}}" />
              </li>
          </ul>
       <button ng-hide="good.soldOut">Add to cart</button>
          <section ng-controller="PanelController as panel">
              <ul class="nav nav-pills">
                  <li ng-class="{ active: panel.isSelected(1) }">
                      <a href="" ng-click="panel.selectTab(1)">Description</a>
                  </li>
                  <li ng-class="{ active: panel.isSelected(2) }">
                      <a href="" ng-click="panel.selectTab(2)">Specifications</a>
                  </li>
                  <li ng-class="{ active: panel.isSelected(3) }">
                      <a href="" ng-click="panel.selectTab(3)">Reviews</a>
                  </li>
              </ul>
              <div class="panel" ng-show="panel.isSelected(1)">
                  <h4>Description</h4>
                  <p>{{good.description}}</p>
              </div>
              <div class="panel" ng-show="panel.isSelected(2)">
                  <h4>Specifications</h4>
                  <blockquote>None Yet</blockquote>
              </div>
              <div class="panel" ng-show="panel.isSelected(3)">
                  <h4>Reviews</h4>
                  <blockquote ng-repeat="review in good.reviews">
                      <b>{{review.stars}}</b>
                      {{review.body}}
                      <cite>by: {{review.author}}</cite>
                  </blockquote>

                  <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                        ng-submit="reviewCtrl.addReview(product)">
                      @* //Live preview// *@
                      <blockquote>
                          <b>Stars: {{reviewCtrl.review.stars}}</b>
                          {{reviewCtrl.review.body}}
                          <cite>{{reviewCtrl.review.color}}</cite>
                          <cite>by: {{reviewCtrl.review.author}}</cite>
                      </blockquote>

                      @* //Star Rate it// *@
                      <select ng-model="reviewCtrl.review.stars">
                          <option value="1">1 Star</option>
                          <option value="2">2 Stars</option>
                          <option value="3">3 Stars</option>
                          <option value="4">4 Stars</option>
                          <option value="5">5 Stars</option>
                      </select>
                      @* //Favorite Coloe// *@
                      <input ng-model="reviewCtrl.review.color" type="radio" value="red"   /> Red
                      <input ng-model="reviewCtrl.review.color" type="radio" value="blue"  /> Blue
                      <input ng-model="reviewCtrl.review.color" type="radio" value="green" /> Green
                      @* //The text of your review// *@
                      <textarea ng-model="reviewCtrl.review.body"></textarea>
                      <label>By: </label>
                      @* //Email as Alias// *@
                      <input ng-model="reviewCtrl.review.author" type="email"/>
                      @* //Terms and conditions// *@
                      <input ng-model="reviewCtrl.review.terms" type="checkbox"/> I agree to terms and conditions
                      <input type="submit" value="Submit"/>
                  </form>

              </div>
          </section>
      </li>
     </ul>
    </div>
</div>

<div class="row">
    
</div>
